.ts-nets-page-wrapper{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px); 
    background-color: #f6f7f9;
    overflow-y: scroll
}

.ts-nets-content-wrapper{
    align-items: flex-start;
    background-color: #f6f7f9;
    outline: none;
    flex-shrink: 1;
    flex: 1;
    box-sizing: inherit;
    width: 100%;
    padding: 5vh 15vw 2vh;
}

.ts-nets-model-config-row{
    margin-bottom: 1em;
}

.ts-nets-diagram{
    height: 100%
}