.map-container {
    height: 80vh;
}

.search-container {
    width: 40vw;
}

.marker-encounter {
    background-image: url('/src/marker-icons/mapbox-marker-icon-20px-red.png');
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-fishing {
    background-image: url('/src/marker-icons/mapbox-marker-icon-20px-blue.png');
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-loitering {
    background-image: url('/src/marker-icons/mapbox-marker-icon-20px-green.png');
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-port-visit {
    background-image: url('/src/marker-icons/mapbox-marker-icon-20px-yellow.png');
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-unknown {
    background-image: url('/src/marker-icons/mapbox-marker-icon-20px-pink.png');
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}


