.map-container {
    height: 80vh;
}

.marker {
    background-image: url('/src/marker-icons/mapbox-marker-icon-20px-blue.png');
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}